<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a id="menu-toggle" href="#" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <li>
                    @Html.ActionLink("Active Contests", "ActiveContests", "Contests")
                </li>
                <li>
                    @Html.ActionLink("Past Contests", "Past", "Contests")
                </li>
                <li>
                    @Html.ActionLink("Your Contests", "OwnContests", "Contests")
                </li>
                <li>
                    @Html.ActionLink("Contest Participate In", "OwnContests", "Contests")
                </li>
            </ul>
        </div>
    </div>
</nav>

@section scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/UserSidebar.js"></script>
} 
    
