@using PhotoContest.App.ViewModels
@model IEnumerable<MinifiedUserViewModel>

<div class="panel-success">
    <div class="panel-heading">
        <h4 class="panel-title"> Participants </h4>
    </div>
    <div class="panel-body">
        <table>
            @foreach (var participant in Model)
            {
                <tr>
                    <td id="@participant.Id">
                        @participant.UserName
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
