@using Microsoft.AspNet.Identity
@model IEnumerable<PhotoContest.App.ViewModels.ContestViewModel>
@{
    ViewBag.Title = "Active Contest";
}

@if (Request.IsAuthenticated)
{
    @Html.Action("ShowNotifications", "Notifications")
}

<div class="row">
    @Html.DisplayFor(x => x)
</div>
