@model PhotoContest.App.ViewModels.ContestDetailsViewModel
<p>Invite Users</p>
<form>
    @Html.AntiForgeryToken()
    <input type="text" id="search" placeholder="Search Users" class="form-control"/>
</form>

<div id="users"></div>
