@model PhotoContest.App.ViewModels.PhotoViewModel

<div id="photo-@Model.Id" class="col-md-4">
    <p>@Model.Name</p>
    <p>Author: @Model.Author</p>
    <p>Posted on: @String.Format("{0:M/d/yyyy}", @Model.DateAdded)</p>
</div> 

